
# Gitignore para SOCION

# Archivos de entorno y dependencias de Python

venv/
**pycache**/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Archivos de Node.js / Frontend

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.env

# Archivos de sistema y editor

.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Archivos de logs y temporales

*.log
*.tmp
*.bak
*.cache

# Contenedores y despliegues locales

dist/
build/
*.dockerfile
